@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#clickerButton {
    width: 200px;
    height: 200px;
}

#clickerButtonSmaller {
    width: 150px;
    height: 150px;
}

#clickerButtonSmallest {
    width: 100px;
    height: 100px;
}

#groceryTableContainer {
    width: 100%;
    justify-content: center;
    display: flex;
}